<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spicy Slice :: Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="author" content="Team23" />

        <!-- BOOTSTRAP CSS -->
        <link href="style/bootstrap.min.css" rel="stylesheet">

        <!-- MAIN STYLES CSS -->
        <link href="style/style.css" rel="stylesheet">

        <!-- References from online -->
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lato%7CRoboto+Slab" rel="stylesheet">

        <!-- FONT ICONS -->
        <link href="style/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- CAROUSEL SLIDERS -->
        <link href="style/owl.carousel.css" rel="stylesheet" type="text/css"/>


        <!-- POPUP -->
        <link href="style/magnific-popup.css" rel="stylesheet" type="text/css"/>

        <!-- ANIMATE -->
        <link href="style/animate.min.css" rel="stylesheet" type="text/css"/>

    </head>

    <body>
        <%= erb :header %>



        <!-- Opening image with the pizza -->
        <section id="intro" class="space-50 large-header text-center">
            <div class="container relative">
                <div data-animation="flipInX" class="header-carousel animatedItem">
                    <div class="item">
                        <p>WELCOME TO SPICY SLICE! </p>
                        <h1 class="space-20">FOR THE BEST PIZZAS</h1>
                    </div>

                    <div class="item">
                        <p>FOR THE FIRST TIME EVER</p>
                        <h1 class="space-20">ORDER PIZZAS FROM TWITTER!</h1>
                    </div>

                    <div class="item">
                        <p>OFFER ONGOING, BUY ONE PIZZA AND GET ONE FREE! USE THE #ORDER #BUY1FREE</p>
                        <h1 class="space-20">!! OFFER !! BUY ONE GET ONE</h1>
                    </div>

                </div>
            </div>

        </section>




        <!-- SITE LOADER (Circles got help online) -->
        <div class="loader"><div class="cell"><div class="loading">Loading...</div></div></div>

        <div id="color-palette" class="active hidden">
            <div class="settings">
                <a id="color-settings" href="index.html#">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
            </div>
            <div class="colors">
                <h5>Colors</h5>
                <hr>
                <ul id="colors-1">
                    <li class="color-6 active"><a data-color="6" href="index.html#"></a></li>
                    <li class="color-1"><a data-color="1" href="index.html#"></a></li>
                    <li class="color-2"><a data-color="2" href="index.html#"></a></li>
                    <li class="color-3"><a data-color="3" href="index.html#"></a></li>
                    <li class="color-4"><a data-color="4" href="index.html#"></a></li>
                    <li class="color-5"><a data-color="5" href="index.html#"></a></li>
                </ul>
            </div>
        </div>

    <section id="menu1">
            <div class="container">
                <div class="line">
                    <h2>Offer Time!</h2>
                </div>
                <div class="row">
                     <div class="col-sm-6">
                        <img src="img/Follow_me.png" alt=""/>
                    </div>
                    <div class="col-sm-6">
                        <h2>Follow us, get a free drink!</h2>
                        <p>
                            Yes you read it right! Follow us on twitter <span>@Spicy_Slice23</span> and get a free drink on every order!
                        </p>
                        <p>
                            All you have to do is tweet to us to make an order and it will be delivered to you within 30 minutes with a free drink of your choice! Simply follow the following format!

                            @Spicy_slice Pizza Drink #Order
                        </p>

                    </div>
                   
                </div>
            </div>
        </section>



        <!-- About Us -->
        <section id="more-info">
            <div class="container">
                <div class="line">
                    <h2>About Us</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>About Spicy Slice</h2>
                        <p>
                            Spicy slice is a restaurant based on a twitter ordering system which is one of its kind. We came up with this unique idea to allow customers to quickly order a pizza with the least possible problems!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img src="img/bg2.png" alt=""/>
                    </div>
                </div>
            </div>
        </section>


		<!-- Menu -->
		<section id="menu1">
			<div class="line">
				<h2>Our Menu</h2>

			</div>
		</section>

			<div class="text-center"
			<p> (H) -> Hot || (V) -> Vegetarian <p>
			</div>


        	<!-- Menu Item 1 -->
         	<div class="menu-item space-10 container">
             	<div class="menu-img" style="background-image: url('img/p1.png');">
             	</div>
                 	<div class="menu-desc">
                 	<div>
                     	<h3>Milano</h3>
                      	<p>Ventricina Salami and Prosciutto Ham.</p>
                      	<p>Sizes: Medium, Large</p>
                  	</div>
                </div>
                <div class="menu-price">
                  <div class="price"> £13/£15 </div>
                 </div>
          </div>


          <!-- Menu Item 2 -->
           	<div class="menu-item space-10 container">
               	<div class="menu-img" style="background-image: url('img/p2.png');">
               	</div>
                   	<div class="menu-desc">
                   	<div>
                       	<h3>Ardente (H)</h3>
                        	<p>Ventricina Salami, Jalapeños and Pepper Pearls. </p>
                        	<p>Sizes: Medium, Large</p>
                    	</div>
                  </div>
                  <div class="menu-price">
                    <div class="price"> £13/£15 </div>
                   </div>
            </div>


           <!-- Menu Item 3 -->
            <div class="menu-item space-10 container">
               	<div class="menu-img" style="background-image: url('img/p3.png');">
               	</div>
                   	<div class="menu-desc">
                   	<div>
                       	<h3>Sicilia</h3>
                        	<p>Chicken Breast Strips, Cajun Seasoning, Red Onions and Pepper Pearls. </p>
                        	<p>Sizes: Medium, Large</p>
                    	</div>
                  </div>
                  <div class="menu-price">
                    <div class="price"> £13/£15 </div>
                   </div>
            </div>

            <!-- Menu Item 4 -->
             <div class="menu-item space-10 container">
                	<div class="menu-img" style="background-image: url('img/p4.png');">
                	</div>
                    	<div class="menu-desc">
                    	<div>
                        	<h3>Verona</h3>
                         	<p>Prosciutto Ham and Chicken Breast.</p>
                         	<p>Sizes: Medium, Large</p>
                     	</div>
                   </div>
                   <div class="menu-price">
                     <div class="price"> £13/£15 </div>
                    </div>
             </div>

             <!-- Menu Item 5 -->
              <div class="menu-item space-10 container">
                 	<div class="menu-img" style="background-image: url('img/p5.png');">
                 	</div>
                     	<div class="menu-desc">
                     	<div>
                         	<h3>Roma (V)</h3>
                          	<p>Goats Cheese, Red Onions and Pepper Pearls</p>
                          	<p>Sizes: Medium, Large</p>
                      	</div>
                    </div>
                    <div class="menu-price">
                      <div class="price"> £13/£15 </div>
                     </div>
              </div>

              <!-- Menu Item 6 -->
               <div class="menu-item space-10 container">
                  	<div class="menu-img" style="background-image: url('img/p6.png');">
                  	</div>
                      	<div class="menu-desc">
                      	<div>
                          	<h3>Cheese and Tomato (V)</h3>
                           	<p>Original Cheese and Tomato.</p>
                           	<p>Sizes: Small, Medium, Large</p>
                       	</div>
                     </div>
                     <div class="menu-price">
                       <div class="price"> £10/£12/£14 </div>
                      </div>
               </div>

               <!-- Menu Item 7 -->
                <div class="menu-item space-10 container">
                   	<div class="menu-img" style="background-image: url('img/p7.png');">
                   	</div>
                       	<div class="menu-desc">
                       	<div>
                           	<h3>Mighty Meat</h3>
                            	<p>Tomato sauce, Pepperoni, Ham, Ground Beef, Sausage, Red Onions, Mushrooms and Mozzarella Cheese.</p>
                            	<p>Sizes: Small, Medium, Large</p>
                        	</div>
                      </div>
                      <div class="menu-price">
                        <div class="price"> £10/£12/£14 </div>
                       </div>
                </div>

                <!-- Menu Item 8 -->
                 <div class="menu-item space-10 container">
                    	<div class="menu-img" style="background-image: url('img/p8.png');">
                    	</div>
                        	<div class="menu-desc">
                        	<div>
                            	<h3>Pepperoni passion </h3>
                             	<p>Extra Pepperoni and Extra Mozzarella Cheese with Tomato Sauce Base.</p>
                             	<p>Sizes: Small, Medium, Large</p>
                         	</div>
                       </div>
                       <div class="menu-price">
                         <div class="price"> £10/£12/£14 </div>
                        </div>
                 </div>

                 <!-- Menu Item 9 -->
                  <div class="menu-item space-10 container">
                     	<div class="menu-img" style="background-image: url('img/p9.png');">
                     	</div>
                         	<div class="menu-desc">
                         	<div>
                             	<h3>Texas BBQ </h3>
                              	<p>Tangy BBQ Sauce Topped with Smoky Bacon, Succulent Roast Chicken, Red Onions, Green and Red Peppers.</p>
                              	<p>Sizes: Small, Medium, Large</p>
                          	</div>
                        </div>
                        <div class="menu-price">
                          <div class="price"> £10/£12/£14 </div>
                         </div>
                  </div>


                 <!-- Menu Item 10 -->
                  <div class="menu-item space-10 container">
                     	<div class="menu-img" style="background-image: url('img/p10.png');">
                     	</div>
                         	<div class="menu-desc">
                         	<div>
                             	<h3>Vegi Supreme (V) </h3>
                              	<p>Red Onions, Green and Red Peppers, Sweetcorn, Mushrooms and Tomatoes.</p>
                              	<p>Sizes: Small, Medium, Large</p>
                          	</div>
                        </div>
                        <div class="menu-price">
                          <div class="price"> £10/£12/£14 </div>
                         </div>
                  </div>


                 <!-- Menu Item 11 -->
                  <div class="menu-item space-10 container">
                     	<div class="menu-img" style="background-image: url('img/p11.png');">
                     	</div>
                         	<div class="menu-desc">
                         	<div>
                             	<h3>Tandoori Hot (H)</h3>
                              	<p>Tandoori Chicken, Red Onions, Mushrooms, Green, Red and Jalapeño Peppers.</p>
                              	<p>Sizes: Small, Medium, Large</p>
                          	</div>
                        </div>
                        <div class="menu-price">
                          <div class="price"> £10/£12/£14 </div>
                         </div>
                  </div>


                 <!-- Menu Item 12 -->
                  <div class="menu-item space-10 container">
                     	<div class="menu-img" style="background-image: url('img/p12.png');">
                     	</div>
                         	<div class="menu-desc">
                         	<div>
                             	<h3>Chicken feast  </h3>
                              	<p>Chicken, Mushrooms and Sweetcorn.</p>
                              	<p>Sizes: Small, Medium, Large</p>
                          	</div>
                        </div>
                        <div class="menu-price">
                          <div class="price"> £10/£12/£14 </div>
                         </div>
                  </div>


                 <!-- Menu Item 13 -->
                  <div class="menu-item space-10 container">
                     	<div class="menu-img" style="background-image: url('img/p13.png');">
                     	</div>
                         	<div class="menu-desc">
                         	<div>
                             	<h3>Hot And Spicy (H) </h3>
                              	<p>Red onions, Ground Beef, Green, Red and Jalapeño peppers.</p>
                              	<p>Sizes: Small, Medium, Large</p>
                          	</div>
                        </div>
                        <div class="menu-price">
                          <div class="price"> £10/£12/£14 </div>
                         </div>
                  </div>


                 <!-- Menu Item 14 -->
                  <div class="menu-item space-10 container">
                     	<div class="menu-img" style="background-image: url('img/p14.png');">
                     	</div>
                         	<div class="menu-desc">
                         	<div>
                             	<h3>Vegi Volcano </h3>
                              	<p>Red Onions, Green and Red peppers, Tomatoes, Jalapeño Peppers and Extra Mozzarella Cheese.</p>
                              	<p>Sizes: Small, Medium, Large</p>
                          	</div>
                        </div>
                        <div class="menu-price">
                          <div class="price"> £10/£12/£14 </div>
                         </div>
                  </div>

                  <!-- Menu Item 15 -->
                   <div class="menu-item space-10 container">
                      	<div class="menu-img" style="background-image: url('img/p15.png');">
                      	</div>
                          	<div class="menu-desc">
                          	<div>
                              	<h3>New Yorker </h3>
                               	<p>Pepperoni, Ham, Bacon and Mushrooms.</p>
                               	<p>Sizes: Small, Medium, Large</p>
                           	</div>
                         </div>
                         <div class="menu-price">
                           <div class="price"> £10/£12/£14 </div>
                          </div>
                   </div>
          </section>

          <!-- How do i order?! -->
          <section id="order">
              <div class="container">
                  <div class="text-center">
                      <h2>How do i order?</h2>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <p>
                              To make an order, you need to go to twitter and tweet in the following format "<span>@spicy_slice23 [size] [pizza type] #order</span>". For example "@spicy_slice23 Large Tomato & Cheese Pizza #order" </p>
                          <p>
                              Once you order on twitter, you can login to check the status of your order on our client panel by clicking the Login button on the navigation.
                          </p>
                           p>
               Here is a list of hashtags which will help you reach out to us!</p>
                <p>#Order - To make a new order</p>
                <p>#Confirm - To confirm your order</p>
                <p>#Feedback - To give us feedback on your order</p>
                <p>#Competetiton - When there is a competition on</p>
                      </div>
                      <div class="col-sm-6">
                          <img src="img/tweet2.png" alt=""/>
                      </div>
                  </div>
              </div>
          </section>

		<section id="contact">
			<div class="row">
			    <div class="col-md-10 col-md-offset-1">
			    <div class="text-center">
			    	<h2> Contact Us </h2>
			    </div>
			          <div class="row flex text-center">
			                 <div class="col-md-4 flex">
			                 	<div class="solidBlock double animatedItem">
			                 		<i class="fa fa-location-arrow fa-3x" aria-hidden="true"></i>
			                                    <h6 class="text-uppercase">Address</h6>
			                                    <p>The Diamond
                                          <br>32 Leavygreave Road
			                                    <br>Sheffield
                                          <br>S3 7RD</p>
			                                </div>
			                            </div>
			                            <div class="col-md-4 flex">
			                            	<div class="solidBlock double animatedItem">
			                            	<i class="fa fa-at fa-3x" aria-hidden="true"></i>
			                                    <h6 class="text-uppercase">Email</h6>
			                                    <p>info@spicyslice.com
			                                	<br>support@dspicyslice.com</p>
			                              </div>
			                           </div>
			                         <div class="col-md-4 flex">
			                         	<div class="solidBlock double animatedItem">
			                         		<i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
			                           	 	<h6 class="text-uppercase">Phone</h6>
			                           		<p>+44-123-456-789
			                           		<br>+44-123-456-777</p>
			                        </div>
			                     </div>
			                 </div>
			             </div>
			         </div>
			     </div>
			 </section>

       <%= erb :footer %>


        <!-- SCRIPTS -->
        <script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/owl.carousel.min.js" type="text/javascript"></script>
        <script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
        <script src="js/jquery.nav.js" type="text/javascript"></script>
        <script src="js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="js/jquery.viewportchecker.min.js" type="text/javascript"></script>
        <script src="js/jquery.countTo.js" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeGtxbtJfB88Fgff3N_um_SjNBNAROskU" async defer></script>

        <!-- Loader script got help online -->
        <script src="js/app.js" type="text/javascript"></script>
        <script>
                // Create a marker and set its position.
                var marker = new google.maps.Marker({
                    map: map,
                    position: myLatLng,
                    title: '',
                    icon: 'img/marker1.png',
                });
            }
        </script>
    </body>
</html>
