<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spicy Slice :: Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="author" content="Team23" />

        <!-- BOOTSTRAP CSS -->
        <link href="/style/bootstrap.min.css" rel="stylesheet">

        <!-- MAIN STYLES CSS -->
        <link href="/style/style.css" rel="stylesheet">

        <!-- References from online -->
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lato%7CRoboto+Slab" rel="stylesheet">

        <!-- FONT ICONS -->
        <link href="/style/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- CAROUSEL SLIDERS -->
        <link href="/style/owl.carousel.css" rel="stylesheet" type="text/css"/>


        <!-- POPUP -->
        <link href="/style/magnific-popup.css" rel="stylesheet" type="text/css"/>

        <!-- ANIMATE -->
        <link href="/style/animate.min.css" rel="stylesheet" type="text/css"/>

    </head>

    <body>

        <%= erb :header %>

        <section id="contact">
            <div class="container text-center">
                <div class="text-center">
                    <h2 class="space-40 solidBlock">Login</h2>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-wrapper space-60">
                            <div id="response"></div>
                            <form method="POST"  id="contact-form" action = "login">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" required></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"><input class="form-control" type="text" name="password" placeholder="Password" required></div>
                                    </div>
                                </div>
                            
                                <div class="form-group"><input class="btn btn-success" type="submit" value="Login"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        <section>
        <%= erb :footer %>
        </section>

    </body>